{% extends 'base.html' %}

{% block content %}
<body>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item  {% if '/accounts/' == request.path %} active{% endif %}"
                       href="{% url 'dashboard' %}"> Dashboard</a>
                    <a class="list-group-item  {% if '/my_orders/' in request.path %} active{% endif %}"
                       href="{% url 'my_orders' %}"> My Orders </a>
                    <a class="list-group-item  {% if '/my_orders/' in request.path %} active{% endif %}"
                       href="{% url 'edit_profile' %}"> Edit Profile </a>
                    <!--                    <a class="list-group-item" href="#">  </a>-->
                    <a class="list-group-item" href="#">Change Password </a>

                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span
                        class="text">Log out</span> </a>
            </aside>
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Edit Your Profile</strong>

                    </header>
                    <div class="card-body">
			{% include 'includes/alerts.html' %}

                        <div class="col-md-12">
                            <form action="{% url 'change_password' %}" method="POST">
                                {% csrf_token %}

                                <div class="form-row">


                                    <div class="form-group col-md-4">
                                        <label>Current Password</label>
                                        <input type="password" name="current_password" placeholder="Current Password"
                                               class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label> Create New Password</label>
                                        <input type="password" name="new_password" placeholder="Create New Password"
                                               class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label> Confirm New Password</label>
                                        <input type="password" name="confirm_password" placeholder="Confirm new Password"
                                               class="form-control" required>
                                    </div>

                                    <input type="submit" value="save" class="btn btn-primary">
                            </form>


</section>

{% endblock %}